<header id="header">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            {% if page.branding %}
                {{ page.branding }}
            {% endif %}
        </div>
        <div class="col-xs-6 .col-lg-4">
            {% if page.navigation %}
                {{ page.navigation }}
            {% endif %}
        </div>
    </div>
    </div>
</header>